<div class="bg">
    <div class="container">

        <div class="columns is-centered table-container">
            <div class="box column is-half box-body">
                <table class="table is-centered table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <!-- | paginate: config -->
                    <tbody *ngFor="let item of viewDetails">
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{item.password }}</td>
                            <td>{{ item.length }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)" autoHide="true"
                    responsive="true">
                </pagination-controls> -->
                <div class="field">
                    <button class="button is-link is-pulled-left" (click)="goBack()">
                        <i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </div>
        </div>
    </div>
</div>