.bg {
    background-image: url(../../assets/pexels-anni-roenkae-2156881.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding-top: 4rem;
}

.button, .button:hover {
    background-color:  #6717d7;;
}

.button .fas {
    padding-right: .3rem; 
}