.bg {
    background-image: url(../../assets/pexels-anni-roenkae-2156881.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding-top: 4rem;
}

.box {
    overflow: scroll;
}