<div class="bg">
    <div class="container">

        <div class="columns is-centered table-container">

            <div class="box column is-half">
                <table class="table is-centered is-fullwidth  is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of viewDetails">
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{item.password }}</td>
                            <td>{{ item.length }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="field">
                    <button class="button is-link is-pulled-left" (click)="goBack()">
                        <i class="fas fa-arrow-left"></i>  Back</button>
                </div>
            </div>
        </div>
    </div>
</div>