.bg {
    background-image: url(../../assets/pexels-anni-roenkae-2156881.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.save-password {
    margin-top: .8rem;
}

.container {
    padding-top: 4rem;
}

.btm {
    margin-top: 4rem ;
}

button {
    background-color: #6717d7 !important;
}

.button .fas {
    padding-right: .3rem; 
}

.button .fas {
    padding-left: .3rem; 
}