<div class="bg">
    <div class="container">
        <div class="columns is-centered">
            <div class="box column is-half">
                <div class="">
                    <h1 class="title has-text-centered">Password Generator</h1>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" class="input" (input)=getName($event.target.value) />
                    </div>
                    <div class="field">
                        <label>Length</label>
                        <input type="number" class="input" (input)=getLength($event.target.value) />
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" (change)="useLetters()" />
                                Use Letters
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" (change)="useNumbers()" />
                                Use Numbers
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" (change)="useSymbols() " />
                                Use Symbols
                            </label>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">

                        <p class="control">
                            <button class="button is-link  " (click)="generatePassword()"
                                [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">
                                Generate!
                            </button>
                        </p>
                    </div>

                    <div class="" *ngIf="password">
                        <label>Your Password</label>
                        <input class="input" [value]="password" />
                        <br>
                        <div class="save-password field is-grouped is-grouped-centered" *ngIf="hideButton">
                            <button class="button  is-link " (click)="submit()">Save Password in
                                vault</button>
                        </div>

                        <div class="field has-text-centered">
                            <p class="title is-5">{{ success}}</p>
                        </div>


                    </div>
                </div>
                <div class="field btm">
                    <button class="button is-link is-pulled-left" (click)="back()">
                        <i class="fas fa-arrow-left"></i> Back</button>
                    <button class="button  is-link is-pulled-right" (click)="view()">
                        View <i class="fas fa-eye"></i></button>
                </div>

            </div>
        </div>

    </div>
</div>