<div class="columns ">
    <div class="column wrapper">
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
            <span>Password</span>
        </span>
        <hr>
        <div class="welcome-info">
            <h1>
                You don't have to remember your passwords.
            </h1>
            <p class="small-info">Passwords remember them all for you. Save your passwords and retieve it
                anytime.</p>
        </div>
        <div class="buttons">
            <button class="button has-text-white" (click)="generatePassword()">Generate New Password <i
                    class="fas fa-edit"></i>
            </button>
            <button class="button has-text-white" (click)="viewPassword()"> View Generated Password <i
                    class="fas fa-eye"></i>
            </button>
        </div>
    </div>
    <div class="side-img column is-three-fifths">
    </div>
</div>
